*
{

}

head
{

}

h2
{
text-shadow: 3px 2px 3px rgba(255,255,255,.2), -40px -40px 0px rgba(0,0,0,0);
color: #4F4F4F;
letter-spacing: -2.4px;
word-spacing: 2px;
}

.bg-light
{
	background-color:black;
}
.searchbox
{
min-width:715px;
position:absolute;
left:25%;
top:15%;
align-content: center;
width: 50%;

}

.Searchbutton
{
display:inline;
position:relative;
margin:0;
}

.infobox1
{

	position:absolute;
	top:50%;
	left:22.5%;
	width:20%;
}
.infobox2
{
	position:absolute;
	top:50%;
	left:42.5%;
		width:20%;
}
.infobox3
{
	position:absolute;
	top:50%;
	left:62.5%;
		width:20%;
}
#map
{
	position:absolute;
	left:30%;
	top:56;
	width:70%;
	height:93%;
	float:right;
}

.resultholder
{
height: 87.5%;
top:15%;
overflow: scroll;
margin:0;
width:29.95%;
}

.searchresult
{
left:0%;
margin:0;

}

.resultmanager{
	width:29.95%;
	padding: 1em;
}

.sorting-container{
	float: left;
}

.sorting-list{
	display: inline-block;
	height: calc(2.25rem + 2px);
	padding: .375rem 1.75rem .375rem .75rem;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
}

.pagination-buttons-holder
{
	float: right;
}

.card
{

background: #EDEDED;
}

.result-cards:hover{
	background-color:white;
	cursor: pointer;
}

.form-check
{
display:inline;
top:50%;
}

.modal-content {
  top:25%;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 65%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:25%;opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:25%; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #007BFF;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #007BFF;
  color: white;
}
.backgroundimage img[src="images/bgimg.jpg"]
{
	filter: blur(8px);
 
	height:94vh;
	width:99.9vw;
	opacity:0.8;
}

.profile-photo
{
	min-width:500px;
	width:35vw;
	height:40vh;
}

.ui-autocomplete { max-height: 30vh;
overflow-y: scroll;
overflow-x: hidden;
}

.pictureinfo
{
	
}

#InlineFormCustomSelect.custom-select.mr-sm-2
{
	margin-left:10px;
	margin-right:0;
}
.col-md-4
{
	left:%;
}

.chartjs
{
	height:40vh;
	width:35vw;
}

.container
{
	
margin-left:15%;
}

.hospital-info
{
float:right;  
}

.d-block
{
	margin-right:0px;
	max-height:60vh;
	width:100%;
}

#locselect
{
	width:30%;
}
#igp1
{
width:100%;	
}

#btmoredet
{
	float:right;
}
@media only screen and (max-width: 1024px) 
{
.profile-photo
{
	display:block;
	width:100%;
}
.chartjs
{
	width:70vw;
	height:70vh;
	
}
.card
{
	
}

  .searchbox
  {
	min-width:0%;
	top:9%;
	max-height:100%;
	left:0%;
    display:block;
	float:center;
	width:100vw;
  }
  .input-group-prepend
  {
	  display:block;
	  width:100%;
	  padding-top:20px;
  }

 .col-md-8
 {
	 left:0%;
	 margin:0;
	 display:block;
	 width:100%;
 }
.col-auto
{
	padding-top:5%;
	display:block;
	width:100%;
	
	
}
#map
{
	display:absolute;
	width:100vw;
	height:40vh;
	left:0%;

}
.resultmanager
{
	width:95vw;
	position:absolute;
	top:50vh;
	height:10vh;
}
.resultholder
{
	position:relative;
	top:55vh;
	width:100vw;
	height:40vh;
}
}