*
{
	
}

head
{

}

.searchbox
{
position:absolute;
left:25%;
top:20%;
align-content: center;
width: 50%;

}

.searchbutton
{
text-align:center;
width:15%;
}

.infobox1
{
	position:absolute;
	top:50%;
	left:22.5%;
}
.infobox2
{
	position:absolute;
	top:50%;
	left:42.5%;
}
.infobox3
{
	position:absolute;
	top:50%;
	left:62.5%;
}
#map
{
	position:absolute;
	left:30%;
	top:56;
	width:70%;
	height:100%;
	float:right;
}

.resultholder
{
top:15%;
height:100%;
overflow-y: scroll;
margin:0;
width:29.95%;
}
.searchresult
{

left:0%;
margin:0;
	
}
